body {
    margin: 0;
    font-family:
        "Segoe UI",
        "Segoe UI Web (West European)",
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        "Helvetica Neue",
        sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

h1 {
    font-size: 3em;
}

div {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: underline;
    border-radius: 5px;
    &:hover {
        outline: 2px solid black;
    }
    &:active {
        outline: 2px solid purple;
    }
}

img {
    height: 12em;
    width: 12em;
    border-radius: 5%;
}

.article {
    margin: 0 auto;
    padding: 2rem;
    max-width: 640px;
    text-align: left;
    @media (max-width: 640px) {
        /* Adjust vertical padding as well, generally "cozier" view */
        padding: 4px;
        max-width: calc(100vw - 24px);
    }
    h1 {
        hyphens: auto;
        font-weight: 600;
        line-height: 52px;
        text-align: center;
        margin-bottom: 10.8px;
    }
    img {
        max-width: 640px;
        border-radius: 5%;
    }
    hr {
        width: 320px;
        max-width: calc(100% - 64px);
    }
}
