<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Politics - markwiemer.com</title>
        <link rel="shortcut icon" href="public/favicon.ico" />
        <link rel="stylesheet" href="styles.css" />
        <script src="src/htmx@2.0.4.js"></script>
    </head>
    <body>
        <div class="article">
            <h1>Politics</h1>
            <button hx-get="./src/text.html" hx-target="#test-div">Add some text</button>
            <button hx-get="./src/empty.html" hx-target="#test-div">Remove the text</button>
            <div id="test-div"></div>
            <footer>
                <hr />
                <a href="/">Home</a>
                <a
                    href="https://github.com/mark-wiemer/markwiemer.com/"
                    target="_blank"
                    rel="noopener"
                >
                    View website source
                </a>
            </footer>
        </div>
    </body>
</html>
