img {
  max-width: 640px;
  border-radius: 5%;
}

.aboutContainer {
  padding: 2rem;
  max-width: 640px;
  text-align: left;
  @media (max-width: 640px) {
    padding: 4px;
    max-width: calc(100vw - 24px);
  }
}

.aboutContainer hr {
  width: 320px;
  max-width: calc(100% - 64px);
}
