html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  /* Dark theme background color */
  background-color: #1f1f1f;
}
